<main class="container">
  <div>
    <h1 class="title">OpenPay.js</h1>
    <p class="subtitle">Accept payments through OpenPay, right on your site</p>
  </div>

  <div id="form-container">
    <div *ngIf="loading" data-testid="loading" id="loading" class="loading">
      <span class="loading-icon">⏳</span>
      Loading...
    </div>
    <div *ngIf="error" id="error-container">
      <pre data-testid="overlay-message">{{ error | json }}</pre>
    </div>

    <div>
      <p class="section-title">Personal Details</p>
      <div class="billing-details">
        <label>
          <span>First Name</span>
          <input data-opid="firstName" placeholder="First Name" />
        </label>
        <label>
          <span>Last Name</span>
          <input data-opid="lastName" placeholder="Last Name" />
        </label>
        <label>
          <span>Email</span>
          <input data-opid="email" placeholder="Email" />
        </label>
        <label>
          <span>Promotion Code</span>
          <input data-opid="promotionCode" placeholder="Promotion Code" value="" />
        </label>
      </div>
      <p class="section-title">Billing Address</p>
      <div class="billing-details">
        <label>
          <span>Zip Code</span>
          <input data-opid="zipCode" placeholder="Zip Code" />
        </label>
        <label>
          <span>Country</span>
          <input data-opid="country" placeholder="Country" />
        </label>
      </div>

      <p class="section-title">Card</p>
      <div *ngIf="!separateFrames" id="single-frame">
        <div id="card-element" class="card-element"></div>
      </div>

      <div *ngIf="separateFrames" id="multiple-frames">
        <div id="card-number-element" class="card-element"></div>
        <div id="card-expiry-element" class="card-element"></div>
        <div id="card-cvc-element" class="card-element"></div>
      </div>

      <button data-testid="submit-button" #submitButton id="submit" type="button" (click)="onSubmit()">Pay</button>

      <button #applePayButton id="apple-pay-button" style="display: none" type="button"></button>
      <button #googlePayButton id="google-pay-button" style="display: none" type="button"></button>
      <div id="validation-error-container" class="error-message">
        <pre data-testid="validation-error">{{ validationErrors | json }}</pre>
      </div>
    </div>

    <div *ngIf="checkoutSuccess" id="checkout-success" class="success-message">
      <h2 class="text-xl font-bold">🎉 Checkout successful!</h2>
      <p class="my-2">Invoice URLs:</p>
      <ul data-testid="invoice-list" class="text-sm list-inside list-decimal mb-4">
        <li *ngFor="let url of checkoutSuccess.invoiceUrls" class="mb-2">
          <a [href]="url" target="_blank" rel="noreferrer" class="underline">{{ url }}</a>
        </li>
      </ul>
      <p class="my-2">Subscription IDs:</p>
      <ul data-testid="subscription-list" class="text-sm list-inside list-decimal">
        <li *ngFor="let id of checkoutSuccess.subscriptionIds" class="mb-2">{{ id }}</li>
      </ul>
      <p class="my-2">Customer ID:</p>
      <p data-testid="customer-id" class="text-sm">{{ checkoutSuccess.customerId }}</p>
    </div>

    <div *ngIf="setupSuccess" id="setup-success" class="success-message">
      <h2 class="text-xl font-bold">🎉 Setup/Update successful!</h2>
      <p class="my-2">Payment method ID:</p>
      <p data-testid="payment-method-id" class="text-sm">{{ setupSuccess.paymentMethodId }}</p>
    </div>
  </div>
</main>
